// ========== JVM CODE PERMISSIONS =======================================

grant codeBase "file:${java.home}/lib/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/lib/ext/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/jre/lib/ext/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/../lib/-" {
        permission java.security.AllPermission;
};

// ========== server CODE PERMISSIONS =======================================

grant codeBase "file:${qingzhou.home}/-" {
        permission java.security.AllPermission;
};